<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            @Html.ActionLink("News", "Index", "Internal", null, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  @if (ViewBag.Arrested)
                  {
                    <li>@LinkExtensions.ActionLink(Html, "InterMail" + @ViewBag.InterMailCount, "Index", "InterMail", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("University", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Social", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Information", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                    if (ViewBag.Recommendation)
                    {
                      <li>@Html.ActionLink("Recommendations", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                    }
                    <li>@Html.ActionLink("TimeLog", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Public Page", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                  }
                  else if(ViewBag.Comply)
                  {
                    <li>@LinkExtensions.ActionLink(Html, "InterMail" + @ViewBag.InterMailCount, "Index", "InterMail", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Comply", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Comply", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Comply", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                    if (ViewBag.Recommendation)
                    {
                      <li>@Html.ActionLink("Comply", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                    }
                    <li>@Html.ActionLink("Comply", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Comply", "Comply", "Internal", null, new { @class = "navbar-brand" })</li>
                  }
                  else if (ViewBag.BearReleased)
                  {
                    <li>@LinkExtensions.ActionLink(Html, "InterMail", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("University", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Social", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Information", "Front", "Report", null, new { @class = "navbar-brand" })</li>
                    if (ViewBag.Recommendation)
                    {
                      <li>@Html.ActionLink("Recommendations", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                    }
                    <li>@Html.ActionLink("TimeLog", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Public Page", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                  }
                  else if (ViewBag.BearBearBear)
                  {
                    <li>@LinkExtensions.ActionLink(Html, "Bear", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Bear", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Bear", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Information", "Front", "Report", null, new { @class = "navbar-brand" })</li>
                    if (ViewBag.Recommendation)
                    {
                      <li>@Html.ActionLink("Bear", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                    }
                    <li>@Html.ActionLink("Bear", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Bear", "Bear", "Internal", null, new { @class = "navbar-brand" })</li>
                  }
                  else if (ViewBag.Andrea)
                  {
                    <li>@Html.ActionLink("Information", "Front", "Report", null, new { @class = "navbar-brand" })</li>
                  }
                  else
                  {
                    <li>@LinkExtensions.ActionLink(Html, "InterMail" + @ViewBag.InterMailCount, "Index", "InterMail", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("University", "Index", "University", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Social", "Index", "Social", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Information", "Front", "Report", null, new { @class = "navbar-brand" })</li>
                    if (ViewBag.Recommendation)
                    {
                      <li>@Html.ActionLink("Recommendations", "Index", "Recommendation", null, new { @class = "navbar-brand" })</li>
                    }
                    if (ViewBag.Career)
                    {
                      <li>@Html.ActionLink("myCareer", "Index", "Final", null, new { @class = "navbar-brand" })</li>
                    }
                    <li>@Html.ActionLink("TimeLog", "Create", "TimeLog", null, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Public Page", "Index", "Home", null, new { @class = "navbar-brand" })</li>
                  }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; AlethiCorp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
