@model AlethiCorp.ViewModels.HakaExam

@{
    ViewBag.Title = "Final test";
}

<h2>Introduction to Haka</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Final test</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h4>Question 1</h4>
            <p>
                <b>
                    During the third jump of a Haka process, a disagreement occurs between the Haka Manager and the Haka Leader.
                    The Haka Manager has assigned several resources to resolve an Impediment, but the Haka Leader feels that this contradicts
                    the recently negotiated contract. As a result of the disagreement, the Haka Facilitator switches the roles
                    of the Haka Manager and the Haka Leader.
                </b>
            </p>

            <p><b>Explain why the Haka Facilitator made this decision:</b></p>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerOne, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerOne, "", new { @class = "text-danger" })
            </div>
        </div>
            <h4>Question 2</h4>

            <p>
                <b>
                    The Haka Leader announces to the resources that the Mid-Jump Replanning Meeting will be held
                    on the following week, but that the exact day will come as a surprise. The resources reason
                    as follows: If the meeting must come as a surprise, it cannot be held on Friday since, if the
                    meeting has not been held Monday-Thursday, it would have to occur on Friday, and would therefore
                    not come as a surprise.
                </b>
            </p>

            <p>
                <b>
                    Since Friday has now been eliminated, the meeting can also not occur on Thursday since, if it
                    has not occurred Monday-Wednesday, and cannot occur on Friday, Thursday would be only option, and
                    the meeting would not be a surprise.
                </b>
            </p>

            <p>
                <b>
                    Using the same argument, the resources proceed to eliminate Wednesday, Tuesday and Monday. Concluding
                    that a surprise Mid-Jump Replanning Meeting cannot possibly be held on any day of the following week, the
                    resources sink into complacency.
                </b>
            </p>

            <p>
                <b>
                    When the Mid-Jump Replanning Meeting is nonetheless announced on Wednesday, the resources are
                    hugely surprised.
                </b>
            </p>

            <p><b>Explain:</b></p>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerTwo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerTwo, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Question 3</h4>
        <p>
            <b>
                Describe the reasons why Haka is superior to earlier project management paradigms:
            </b>
        </p>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerThree, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnswerThree, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Submit answers" class="btn btn-default" />
            </div>
        </div>
    </div>
}
