@model AlethiCorp.ViewModels.InterMailViewModel

@{
  ViewBag.Title = "InterMail";
}

<h2>InterMail</h2>

<div>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Author)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Author)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Subject)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Subject)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Message)
    </dt>

    <dd>
      @Html.Raw(Model.Message)
    </dd>

  </dl>
</div>
<p>
  @if (ViewBag.Ongoing && ViewBag.Enabled)
  {
    using (Html.BeginForm("Delete", "InterMail", new { id = Model.Id }))
    {
      @Html.AntiForgeryToken()
      <a class="btn btn-default" href="@Url.Action("Index")">Inbox</a>
      <a class="btn btn-default" href="@Url.Action("Create", new { id = Model.Id })">Reply</a>
      <a class="btn btn-default" href="@Url.Action("Create", new { id = Model.Id, forward = true })">Forward</a>
      <input type="submit" value="Delete" class="btn btn-default" />
    }
  }
  else if (ViewBag.ComplyMail)
  {
    <a class="btn btn-default" href="@Url.Action("Index")">Inbox</a>
    <a class="btn btn-default" href="@Url.Action("Index", "Final")">Comply</a>
    if (ViewBag.BearEnabled)
    {
      <a class="btn btn-default" href="@Url.Action("Bear", "Final")">@ViewBag.BearType</a>
    }
  }
  else if (ViewBag.AndreaEscape)
  {
    <a class="btn btn-default" href="@Url.Action("Index")">Inbox</a>
    <a class="btn btn-default" href="@Url.Action("Andrea", "Final")">Join her</a>
  }
  else
  {
    <a class="btn btn-default" href="@Url.Action("Index")">Inbox</a>
  }
</p>
