@model AlethiCorp.Models.SocialEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SocialEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contribution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
